@tailwind base;
@tailwind components;
@tailwind utilities;
.first-banner {
  background-image: url('/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.product-card {
  margin: 0; /* Ensure no extra margin */
  padding: 16px; /* Consistent padding */
  box-sizing: border-box; /* Ensure padding is included in the height */
}
