@tailwind base;
@tailwind components;
@tailwind utilities;
.first-banner {
  background-image: url('/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
@media (max-width: 400px) {
  .first-banner {
    height: 60vh; 
    background-size: contain; 
    padding: 10px; 
  }
}
.second-banner {
  background-image: url('/bluebanner5.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.product-card {
  margin: 0; 
  padding: 16px;
  box-sizing: border-box; 
}

.cart-popup {
  position: absolute;
  top: 100%; 
  right: 0;
  width: 300px; 
  z-index: 1000; 
}
@font-face{
  font-family:'Archivo-Black';
  src: url('./public/ArchivoBlack-Regular.ttf');
}
.ArchivoBlack{
  font-family:'Archivo-Black';
}
.ronaldo-bg{
  background-image:url('./public/red.jpg');
  background-repeat:no repeat;
}

