@tailwind base;
@tailwind components;
@tailwind utilities;
.first-banner {
  background-image: url('/bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.product-card {
  margin: 0; /* Ensure no extra margin */
  padding: 16px; /* Consistent padding */
  box-sizing: border-box; /* Ensure padding is included in the height */
}
/* Assuming you have a CSS file or inline styles */
.cart-popup {
  position: absolute;
  top: 100%; 
  right: 0;
  width: 300px; 
  z-index: 1000; 
}
@font-face{
  font-family:'Archivo-Black';
  src: url('./public/ArchivoBlack-Regular.ttf');
}
.ArchivoBlack{
  font-family:'Archivo-Black';
}
